.logo_place_footer {
  margin: 0 141px 0 141px;
  font-family: Homemade Apple;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 39px;
  color: #F7941E;
  text-decoration: none;
}