.wrapper {
  margin: 0 auto 50px;
  position: relative;
  width: 1170px;
  height: 370px;
}
.wrapper > input {
	display: none;
}
.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
    border: 1px solid black;
  
}

.wrapper label:after {
	content: " ";
	display: block;
	height: 12px;
	left: -3.5px;
	position: absolute;
	top: -2px;
	width: 12px;
	border-radius: 50%;
  
  
}
.wrapper label:hover {
	background-color: black;
 }