.page__button_theme_orange-background {
    background-color: #F7941E;
    border: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

.page__button_theme_orange-background:hover {
    background-color: transparent;
    border: 1px solid #F7941E;
    color: #F7941E;
  }